// main

$gradient_bg: linear-gradient(180deg, #B64AFF -10.94%, #4757FF 100%);

// font

$desktop_input_fz: 20px;
$white_fc: #FFFFFF;
$black_fc: #000000;
$purple_fc: #6B53FF;
$font_family: "Gotham Pro", sans-serif;

// button

$white_bc: #FFFFFF;
$purple_bc: #6B53FF;
