.player_burger_container {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.join_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 204px;
  justify-content: space-between;
}
